*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: hsl(0, 0%, 95%);
    font-size: 15px;

}
main{
    width: 50%;
    margin: auto;
    display: flex;
    align-items: center;
    height: 100vh;
}
div{
    text-align: justify;
}
h1{
    font-family: 'Big Shoulders Display', cursive;
    margin: 15px;

}

p, button{
    font-family: 'Lexend Deca', sans-serif;
}
p{
    color: hsla(0, 0%, 100%, 0.75);
    margin: 15px;
    line-height: 25px;
    
}
h1, button{
    color: hsl(0, 0%, 95%)
}
div{
    padding: 2rem;
    text-align: left;
    
}
#sedans-box{
    background-color: hsl(31, 77%, 52%);
    
}
#sedans-button{
    background-color: hsl(31, 77%, 52%);
    margin: 20px;
    border-color: hsl(0, 0%, 95%);
    cursor: pointer;
    font-size: 15px;
    text-align: center;
    display: inline-block;
    border-radius: 35px;
    padding: 15px;
    
    
}
#suv-box{
    background-color: hsl(184, 100%, 22%);
}
#suvs-button{
    background-color: hsl(184, 100%, 22%);
    margin: 20px;
    border-color: hsl(0, 0%, 95%);
    cursor: pointer;
    font-size: 15px;
    text-align: center;
    display: inline-block;
    border-radius: 35px;
    padding: 15px;
}
#luxury-box{
    background-color: hsl(179, 100%, 13%);
}
#luxury-button{
    background-color: hsl(179, 100%, 13%);
    margin: 20px;
    border-color: hsl(0, 0%, 95%);
    cursor: pointer;
    font-size: 15px;
    text-align: center;
    display: inline-block;
    border-radius: 35px;
    padding: 15px;
}